includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    editorUrl: 'anything'
    paths:
        - app/
    level: 5
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    ignoreErrors:
        - '#mixin contains invalid type Illuminate\\Support\\Traits\\Conditionable#'
        - '#does not accept Illuminate\\View\\ComponentAttributeBag#'
        - '#should return MoonShine\\Contracts\\UI\\ComponentAttributesBagContract but returns Illuminate\\View\\ComponentAttributeBag#'
        - '#getResource\(\) should return#'
        - '#getParentResource\(\) should return#'
        - '#when\(\) expects#'
        - '#Call to an undefined method Illuminate\\Http\\Request::getScalar#'
        - '#Trait MoonShine\\Laravel\\Traits\\Resource\\ResourceWithParent is used zero times#'
    excludePaths:
        - ./app/Modules/Auth/Tests
        - ./app/Modules/Client/Tests
        - ./app/Modules/Master/Tests
        - ./app/Modules/Material/Tests
        - ./app/Modules/Notification/Tests
        - ./app/Modules/Schedule/Tests
        - ./app/Modules/Service/Tests
        - ./app/Modules/Settings/Tests
        - ./app/Modules/Specialization/Tests
        - ./app/Modules/Appointment/Tests
